@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --pad: max(20px, 4vmin);
        --pad-x: calc(var(--pad) * 1.5);
        --pad-2x: calc(var(--pad) * 2);
        --pad-3x: calc(var(--pad) * 3);
        --pad-4x: calc(var(--pad) * 4);
        --pad-5x: calc(var(--pad) * 5);
        --pad-6x: calc(var(--pad) * 6);
        --pad-7x: calc(var(--pad) * 7);
        --pad-8x: calc(var(--pad) * 8);
    }

    html {
        ::-webkit-scrollbar {
            display: none;
        }
    }
    /*@media (min-width: 320px) {*/
    /*    :root {*/
    /*        !*font-size: calc(0.625rem + ((1vw - 3.2px) * 0.25));*!*/
    /*        font-size: calc(0.875rem + ((1vw - 3.2px) * 0));*/
    /*        !*font-size: calc(1rem + ((1vw - 3.2px) * 0));*!*/
    /*        min-height: 0vw;*/
    /*    }*/
    /*}*/
    /*@media (min-width: 1920px) {*/
    /*    :root {*/
    /*        font-size: 14px;*/
    /*    }*/
    /*}*/
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .backface-visible {
        backface-visibility: visible;
        -webkit-backface-visibility: visible;
    }

    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .transition-all-450 {
        transition-property: all;
        transition-duration: 450ms;
        transition-timing-function: ease-in-out;
    }
}

