@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --pad: max(20px, 4vmin);
        --pad-2x: calc(var(--pad) * 2);
        --pad-4x: calc(var(--pad) * 4);
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

